
*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: #191919;
}

li,
a,
button,
input {
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.progressbar_purple{
    width: 200px;
    height: 12px;
    border: 2px solid #283593;
    border-radius: 8px ;
}

.progressbar_purple .progress{
    background-color: #3F51B5;
    width: 0px;
    height: 100%;
    animation: progres 4s forwards linear;
}

@keyframes progres{
    0%{
      width: 0%;
    }
    25%{
        width: 50%;
    }
    50%{
        width: 75%;
    }
    75%{
        width: 85%;
    }
    100%{
        width: 100%;
    }
}

.card{
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #FAFAFA;
    border: 1px solid #E1E1E1;
    
}

.card:hover{
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25);
}

.center_horizontal{
    text-align: center;
    margin: 0 auto;
}


.edittext{
    padding: 0.8rem 0 0.8rem 2.5rem;
    background-color: #FAFAFA;
    border-radius: 4px;
    border: 1px solid #BDBDBD;
    font-weight: bold;
}

.edittext_disable{
    color: #BDBDBD;
}



.edittext:focus{
    outline: none;
    border: 2px solid #3F51B5;
}

.invalid_edittext {
    border:1px solid #F44336;
}


.icon_edittext {
    padding: 0.88rem;
    color: #3F51B5;
    float: left;    
    position: absolute;
}



.character_counter {
    text-align: right;
    margin-top: 2px;
}


.container_input {
    text-align: left;
}

.container_select{
    padding: 0.8rem;
    background-color: #FAFAFA;
    border-radius: 4px;
    border: 1px solid #BDBDBD;
    display: flex;
    align-items:center;
    justify-content: center;
}

.container_select label{
    margin-left: 0.8rem;
    font-weight: bold;
    color:#999;
    flex: 1;

}  

.container_select i{
    color: #3F51B5;
}

.container_select select{
    Border: none;
    background-color: transparent;
}

.container_select option{
    padding:1rem;
}
 


.title_primary{
    font-size: 3rem;
}

.title_secondary{
    font-size: 2rem;
    color: #323232;
}

.text_normal{
    font-size: 1rem;
}

.text_disable{
    font-size: 1rem;
    color: #BDBDBD;
}

.bold{
    font-weight: bold;
}

.btn_purple{
    background-color: #3F51B5;
    border-radius: 4px;
    padding: 8px 16px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #3949AB;
    color: #FAFAFA;
    font-weight: bold;
}

.btn_purple:hover{
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25);
}

.btn_pink{
    background-color: #E91E63;
    border-radius: 4px;
    padding: 8px 16px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #D81B60;
    color: #FAFAFA;
    font-weight: bold;
}

.btn_pink:hover{
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25);
}

.btn_google{
    border-radius: 8rem;
    padding: 8px 16px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #7D7D7D;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    width: 60%;
    font-weight: bold;
    cursor: pointer;
}


.btn_google:hover{
    padding: 8px 16px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25);
}

.container_subject_info{
 cursor: pointer;   
}

.divider{
    height: 1px;
    border: none;
    background: #BDBDBD;
}

.margin_top{
    margin-top: 1rem;
}

.margin_left{
    margin-left: 1rem;
}

.margin_right{
    margin-right: 1rem;
}

.margin_bottom{
    margin-bottom: 1rem;
}

.padding_2{
    padding: 2rem;
}

.padding_1{
    padding: 1rem;
}

.error{
    color: #F44336
}

.container_purple{
    background-color: #303F9F;
    overflow: auto;
}

.container_tabs{
    background-color: #283593;
}

.tab{
    font-size: 1.2rem;
    color: #FAFAFA;
    display: inline-block;
    padding: 1rem;
    cursor: pointer;
}

.tab:hover{
    color: #191919;
    background-color: #F8BBD0;
}

.active{
    background-color: #E91E63;
}

.container_content_item{
    margin: 1rem;
    border: 1px solid #E1E1E1;
    padding: 1rem;
    border-radius: 4px;
    display: flex;
}

.container_content_item:hover{
    cursor: pointer;
    border: 1px solid #000;

}

.content_item_image{
    height: 8rem;
    width: 10rem;
}

.container_content_item_info{
    flex: 1;
    margin-left: 2rem;
}

.content_item_title{
    font-size: 1.4rem;
}

.container_course {
    width: 100vw;
    display: flex;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    justify-content: center;
    gap: 2rem;
}

.course_img {
    border-radius: 4px;
    border: 2px solid #000;
    height: auto;
    width: 30vw;
}

.container_course_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 40vw;
}

.title_sheet{
    color: #FAFAFA;
    display: inline-block;
}

.btn_close_sheet{
    float: right;
    margin: 2rem;
}
